.TodoTemplate {
  width: 512px;
  border-radius: 8px;
  overflow: hidden;

  .app-title {
    background-color: royalblue;
    color: white;
    height: 4rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    background-color: white;
  }
}
